<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Sample of thumbnails HTML template</title>
</head>

<body bgcolor="#F1D0F2" link="#0000FF" vlink="#800080">

<p align="center"><h2>The current collection excerpt</h2></p>

<p align="center"><h3>(E-mail requester for full image version)</h3></p>

<p><small><small><strong><font color="#300010">These digitally watermarked images may not be used on any other web site.</font></strong></small></small></p>

<hr>

<table border="1">
<!--!%loop -->
  <tr>
    <td><p align="center"><a href="mailto:dmitriy@mochamail.com?subject=Please send me !%tnof"><img
    src="!%tnfn" alt="!%tntt"></a></p>
    <p align="center"><font color="#0000A0"><small>!%tnc</small></font></td>
<!--!%tn+ -->
    <td><p align="center"><a href="mailto:dmitriy@mochamail.com?subject=Please send me !%tnof"><img
    src="!%tnfn" alt="!%tntt"></a></p>
    <p align="center"><font color="#0000A0"><small>!%tnc</small></font></td>
<!--!%tn+ -->
    <td><p align="center"><a href="mailto:dmitriy@mochamail.com?subject=Please send me !%tnof"><img
    src="!%tnfn" alt="!%tntt"></a></p>
    <p align="center"><font color="#0000A0"><small>!%tnc</small></font></td>
<!--!%tn+ -->
  </tr>
<!--!%endl -->
</table>

<hr>

<p><small><strong><font color="#FF0000">Thank you for using MediaChest.</font></strong></small></p>

<p align="center"><small><font color="#008040"><em><small>Copyright &copy; Dmitry Rogatkin
1999-2003</small></em></font></small></p>
</body>
</html>
