<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=!%enc">
<title>Sample of thumbnails HTML template</title>
</head>

<body bgcolor="#F1D0F2" link="#0000FF" vlink="#800080">
<p align="center"><h2>Photo Album !%alnm</h2></p>
<p><small><small><strong><font color="#300010">These digitally watermarked images may not be used on any other web site.</font></strong></small></small></p>
<p align=center><i>!%txt</i></p>
<table border="0">
<!--!%loop-->
  <tr>
    <td width="33%"><table width="100%">
      <tr>
        <td width="100%" bgcolor="#000000"><p align="center"><a href="!%webp!%tnlr"><img src="!%tnfn" alt="!%tntt" border=0></a></td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#D1DC96"><font color="#0000A0"><small>!%tnc</small></font></td>
      </tr>
    </table>
    </td>
<!--!%tn+-->
    <td width="33%"><table width="100%">
      <tr>
        <td width="100%" bgcolor="#000000"><p align="center"><a href="!%webp!%tnlr"><img src="!%tnfn" alt="!%tntt" border=0></a></td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#93E3DA"><font color="#0000A0"><small>!%tnc</small></font></td>
      </tr>
    </table>
    </td>
<!--!%tn+-->
    <td width="34%"><table width="100%">
      <tr>
        <td width="100%" bgcolor="#000000"><p align="center"><a href="!%webp!%tnlr"><img src="!%tnfn" alt="!%tntt" border=0></a></td>
      </tr>
      <tr>
        <td width="100%" bgcolor="#DBA4B1"><font color="#0000A0"><small>!%tnc</small></font></td>
      </tr>
    </table>
    </td>
  </tr>
<!--!%endl-->
</table>

<p><a href="!%pralr">!%praln</a> </p>
<table border="0" width="75%">
  <!--!%cloop-->
  <tr>
    <td width="33%"><a href="!%chap">!%chan</a></td><!--!%ch+-->
    <td width="33%"><a href="!%chap">!%chan</a></td><!--!%ch+-->
    <td width="33%"><a href="!%chap">!%chan</a></td>
  </tr>
  <!--!%cendl-->
</table>
<p><strong><font color="#004080" size=1>Thank you for using MediaChest.</font></strong></p>

<p align="center"><em><small>This page was prepared by <a href="http://mediachest.sourceforge.net">MediaChest</a> !%cprt</small></em></p>
</body>
</html>
